html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  font-size: 4rem;
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
}

p {
  font-size: 2rem;
  transform: translate(10px);
}

img {
  max-height: 500px;
  width: 100%;
}

div .content {
  max-width: 50em;
}

.banner {
  position: relative;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  position: absolute;
  left: auto;
  bottom: auto;
}
